.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}
.form-container {
  width: 400px;
  margin: auto;
}

.notification {
  padding: 10px 30px !important;
}
